.root {
  position: relative;
  margin-top: 1em;
}

.value {
  font-size: 26px;
  font-weight: 700;
  color: var(--mantine-color-neutral-7);
}

.icon {
  color: var(--mantine-color-neutral-5);
}

.title {
  font-weight: 600;
  color: var(--mantine-color-gray-6);
  text-transform: uppercase;
}

.imageContainer {
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--mantine-color-primary-0);
  padding: 1em;
  border-radius: 2rem;
  position: relative;
  margin-top: 1.33rem;
  border: 1px solid var(--mantine-color-neutral-3);
}

.missionPatch {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.articleLink {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 20px;
  gap: 4px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 1em;
  font-weight: bold;
}

.articleLink:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--mantine-color-primary-1);
  transition: all 0.3s ease-out;
}
.articleLink a {
  color: white;
  text-decoration: none;
}

.paper {
  background-color: #ffffff;
  border-radius: 12px;
}
.widePaper {
  grid-column: span 2;

  @media (max-width: 500px) {
    grid-column: span 1;
  }
}
